* {
  background-color: #E7F0FF;
  font-family: "Catamaran", sans-serif;
}

.title {
  background-color: #3f3f6d;
  margin-bottom: 0;
  font-size: 80px;
}

.title-text {
  text-decoration: none;
  color: #fdfdfd;
  background-color: #3f3f6d;
}

#first,
#second {
  margin: 0 15px;
  color: #3f3f6d;
}

#get-started {
  text-align: center;
  font-size: 25px;
  margin: 15px 15px;
  color: #3f3f6d;
  background-color: #3f3f6d;
  color: #fdfdfd;
  border-radius: 8px;
  width: 250px;
  height: 50px;
}
