* {
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    background-color: #B5BAD0;
}

.sub-title {
    background-color: #FDFDFD;
    color: #3f3f6d;
    margin: 0;
    font-size: 80px;
}

.sub-title-text {
    text-decoration: none;
    color: #3f3f6d;
    background-color: #FDFDFD;
  }

.su-title {
    margin-top: 0;
    margin-bottom: 15px;
    padding: 0;
    font-size: 40px;
    color: #3F3F6D;
}

#su-sign-in {
    font-size: 15px;
    margin: 0;
    background-color: #3F3F6D;
    color: #FDFDFD;
    border-radius: 8px;
    width: 100px;
    height: 40px;
}

#su-a {
    background: none;
}

.form-group {
    color: #3F3F6D;
    margin: 5px;
}

.form-control {
    border-radius: 5px;
    border: none;
    background-color: #FDFDFD; 
    width: 200px;
    height: 30px;
}

input::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 3;
}

.consent {
    font-size: 12px;
}


#su-btn {
    text-align: center;
    font-size: 20px;
    margin: 15px 15px;
    color: #3F3F6D;
    background-color: #3F3F6D;
    color: #FDFDFD;
    border-radius: 8px;
    width: 300px;
    height: 40px;
}
